<p>Olá,</p>

<p>Esqueceu sua senha para o email <strong><%= @user.email %></strong>? Tudo bem! Aqui está seu código para mudar sua senha:</p>

<p><%= @code %></p>

<p>Se você não solicitou a troca de sua senha, pode ignorar esse e-mail. O código expirará em 20 minutos. Só é possível trocar sua senha com acesso a este e-mail.</p>

<hr>

<p>Tem alguma questão ou dúvida pendente? Responda à este email e nossa equipe de suporte irá te auxiliar!</p>
